.breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 8px 20px;
  min-width: 1090px;
}
.breadcrumb ul {
  padding: 0;
}
.breadcrumb form.form-inline .form-group {
  margin-bottom: 0;
}
.breadcrumb .breadcrumb-nav {
  margin-bottom: 0;
}
.breadcrumb .breadcrumb-nav li {
  display: inline-block;
}
.breadcrumb .breadcrumb-nav > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}
