@import "reset.css";
@import "variables.css";
/* variables */
/* layout */
#doc-bd {
  position: absolute;
  top: 0px;
  left: 190px;
  right: 0px;
  bottom: 0px;
  background: #f3f3f3;
  min-height: -14%;
  overflow-y: auto;
}
#doc-aside {
  width: 190px;
  min-width: 100px;
  background-color: #2f4050;
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 2;
}
#doc-aside .logo {
  color: #a7b1c2;
}
#doc-aside .aside-menu {
  margin-top: 20px;
}
#doc-aside .aside-menu li {
  line-height: 41px;
  border-bottom: 1px solid #253646;
}
#doc-aside .aside-menu li.active a {
  color: #02e4a2;
}
#doc-aside .aside-menu li.active a:hover {
  color: #02e4a2;
}
#doc-aside a {
  display: block;
  font-size: 12px;
  color: #a7b1c2;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
}
#doc-aside a:hover {
  color: #9da7b8;
}
#doc-aside a .fa {
  line-height: 44px;
  right: 0;
  margin-right: 10px;
}
.logo-element {
  background: #02e4a2;
  height: 50px;
  line-height: 50px;
}
#doc-toolbar {
  color: #888888;
  padding: 0 20px;
  line-height: 60px;
}
#doc-toolbar .logout {
  text-decoration: underline;
  padding: 0 8px;
  font-weight: bold;
}
#doc-main {
  top: 60px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  min-width: 1090px;
  overflow: auto;
  z-index: 1;
}
.fa-arrow-down {
  color: #2c9445;
}
.fa-arrow-up {
  color: #eb0000;
}
.fa-arrow-right {
  color: #a7b1c2;
}
.chart-table-container,
.chart-container {
  margin: 20px 0;
}
.pie-chart-container {
  float: left;
  width: 400px;
  height: 300px;
}
.pie-chart {
  width: 100%;
  height: 100%;
}
table {
  margin-top: 10px;
  font-size: 14px;
}
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #e8e8e8;
  background: #337ab7;
  color: #ffffff;
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
}
table .fa-arrow-down {
  color: ;
}
thead tr.th-collapsed {
  border-bottom: 1px solid #e8e8e8;
}
thead tr:first-child {
  border-bottom: 0px;
}
thead tr:first-child {
  border-bottom: 0px;
}
thead tr:last-child .th-collapsed {
  border-top: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.nav-tabs.nav-justified > li {
  display: inline-block;
  width: 16.66666667%;
  border-radius: 4px 4px 0px 0px;
}
.nav-tabs.nav-justified > li a,
.nav-tabs.nav-justified > li a:hover,
.nav-tabs.nav-justified > li a:focus {
  outline: 0px;
  border: 0px solid transparent;
}
.nav-tabs.nav-justified > li.active a,
.nav-tabs.nav-justified > li.active a:hover,
.nav-tabs.nav-justified > li.active a:focus {
  border: 0px solid transparent;
  background-image: linear-gradient(180deg, #b1daff, #ffffff);
}
.nav-tabs.nav-justified > li h4 {
  margin-bottom: 10px;
}
.chart {
  padding: 10px;
  margin: 30px 0;
}
.table-area {
  margin: 10px;
}
.title-base label {
  margin: 0 6px;
}
.title-base small {
  font-size: 12px;
  font-style: inherit;
  padding: 4px 4px;
}
.title-icon {
  display: inline-block;
  background: #02e4a2;
  border-radius: 4px;
  width: 4px;
  height: 20px;
  vertical-align: -4px;
}
.title-name {
  font-size: 20px;
  display: inline-block;
  line-height: 30px;
}
.title-name a {
  background: #00b270;
  color: #333333;
  border-radius: 15px;
  padding: 4px 10px;
}
.title-name a:hover {
  color: #3d3d3d;
  text-decoration: none;
}
.title-name a h4,
.title-name a h5 {
  margin: 0;
}
.title-name .more {
  color: #ffffff;
}
.doc-row {
  margin-bottom: 10px;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  left: 5px;
  top: 2px;
  color: #02e4a2;
}
.form-inline .form-group,
.btn-group {
  margin-top: 8px;
}
.form-inline .col-lg-3 {
  min-width: 320px;
}
.input-search {
  border: 1px solid #a7b1c2;
  height: 32px;
  padding: 2px 0 2px 20px;
  border-radius: 4px;
}
.form-group button.btn-fail {
  cursor: default;
}
.page .pagination {
  margin: 0;
}
.tab-container {
  background: #ffffff;
  padding: 15px;
  margin-top: -1px;
  border: 1px solid #dddddd;
}
#doc-bd .breadcrumb {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: 0;
}
#doc-bd .breadcrumb .breadcrumb-nav {
  margin-bottom: 0;
}
#doc-bd .breadcrumb .breadcrumb-nav li {
  display: inline-block;
}
#doc-bd .breadcrumb .breadcrumb-nav > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}
/*list-box*/
.list-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 170px;
  margin-bottom: 20px;
}
.list-box img.applogo {
  width: 100px;
  height: 100px;
  margin-left: 37%;
}
.list-button {
  text-align: center;
}
.list-button a {
  display: inline-block;
  margin-top: 20%;
}
.list-title {
  padding: 10px;
  border-top: 2px solid #2f4050;
}
.list-title a:link {
  color: #333333;
}
/*modal*/
.modal-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.modal-scroll form button {
  margin-bottom: 4px;
}
.modal-translate-center {
  position: absolute;
  z-index: 1050;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
