/*list-box ARK index UI*/
.ark-list-box {
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  height: 170px;
}
.ark-list-box a img {
  display: block;
  margin: 0 auto;
}
.ark-list-button {
  display: table;
  width: 100%;
  text-align: center;
}
.ark-list-button a {
  display: table-cell;
  vertical-align: middle;
}
.ark-list-title {
  padding: 10px;
  border-top: 3px solid  #e8e8e8;
}
.ark-list-title a:link {
  color: #333;
}
.summary-info {
  color: #fff;
}
.list-box-summary {
  border-radius: 4px;
  padding: 10px 20px;
  padding-bottom: 0;
  margin: 10px 0;
}
