/* variables */
/*list-box ARK index UI*/
.list-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 170px;
  margin-bottom: 20px;
}
.list-box img.applogo {
  width: 100px;
  height: 100px;
  margin-left: 37%;
}
.list-button {
  text-align: center;
}
.list-button a {
  display: inline-block;
  padding: 20% 43%;
}
.list-title {
  padding: 10px;
  border-top: 2px solid #2f4050;
}
.list-title a:link {
  color: #333333;
}
