/* variables */
/*list-box ARK index UI*/
.list-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  height: 170px;
}
.list-box a img {
  display: block;
  margin: 0 auto;
}
.list-button {
  display: table;
  width: 100%;
  text-align: center;
}
.list-button a {
  display: table-cell;
  vertical-align: middle;
}
.list-title {
  padding: 10px;
  border-top: 3px solid #337ab7;
}
.list-title a:link {
  color: #333333;
}
.summary-info {
  color: #ffffff;
}
.green {
  background-color: #19aa8d;
}
.yellow {
  background-color: #f8ac59;
}
.widget {
  border-radius: 4px;
  padding: 10px 20px;
  padding-bottom: 0;
  margin: 10px 0;
}
