/*modal*/
.modal-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.modal-scroll form button {
  margin-bottom: 4px;
}
.modal-vertical-centers {
  position: fixed;
  z-index: 1051;
  left: 50%;
  top: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
