/* variables */
/*modal*/
.modal-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.modal-scroll form button {
  margin-bottom: 4px;
}
.modal-translate-center {
  position: absolute;
  z-index: 1050;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
