/* variables */
/* Base */
.doc-body {
  background: #2f4050;
  overflow: hidden;
}
#wrapper {
  width: 100%;
}
#doc-bd {
  position: absolute;
  left: 190px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f3f3f3;
  overflow: auto;
}
#doc-toolbar {
  color: #888888;
  padding: 0 20px;
  line-height: 60px;
}
#doc-toolbar .logout {
  text-decoration: underline;
  padding: 0 8px;
  font-weight: bold;
}
#doc-main {
  top: 60px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  min-width: 1090px;
  overflow: auto;
  z-index: 1;
}
.title-base label {
  margin: 0 6px;
}
.title-base small {
  font-size: 12px;
  font-style: inherit;
  padding: 4px 4px;
}
.title-icon {
  display: inline-block;
  background: #19aa8d;
  border-radius: 4px;
  width: 4px;
  height: 20px;
  vertical-align: -4px;
}
.title-name {
  font-size: 20px;
  display: inline-block;
  line-height: 30px;
}
.title-name a {
  background: #00785b;
  color: #333333;
  border-radius: 15px;
  padding: 4px 10px;
}
.title-name a:hover {
  color: #3d3d3d;
  text-decoration: none;
}
.title-name a h4,
.title-name a h5 {
  margin: 0;
}
.title-name .more {
  color: #ffffff;
}
.doc-row {
  margin-bottom: 10px;
}
.page .pagination {
  margin: 0;
}
.tab-container {
  background: #ffffff;
  padding: 15px;
  margin-top: -1px;
  border: 1px solid #dddddd;
}
.doc-row hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
