.logo {
  color: #a7b1c2;
  text-align: center;
}
.bs-aside-menu {
  margin-top: 20px;
  padding: 0;
}
.bs-aside-menu li > a {
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
  color: #a7b1c2;
}
.bs-aside-menu li > a:hover,
.bs-aside-menu li > a:focus {
  color: white;
  background-color: none;
}
.bs-aside-menu > li > a > i {
  display: inline-block;
  width: 12px;
  margin-right: 8px;
}
.bs-aside-menu > li.unfold {
  border-left: 4px solid #19aa8d;
  background: #293846;
}
.bs-aside-menu li {
  list-style: none;
}
.bs-aside-menu li.unfold > a {
  background: #293846;
  color: white;
}
.bs-aside-menu li.unfold > .nav {
  display: block;
  padding-left: 18px;
}
.bs-aside-menu li > .nav > li > a:hover,
.bs-aside-menu li > .nav > li > a:focus {
  color: white;
  background-color: transparent;
}
