.tab-container {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  margin-top: -1px;
  border: 1px solid #ddd;
}
.tab-custom .nav > li {
  width: 200px;
  float: left;
  text-align: center;
}
.tab-custom .nav > li a:hover {
  background: transparent;
}
.tab-custom .nav > li.active {
  border-top: 3px solid  #19aa8d;
  background: #fff;
}
.tab-custom .nav > li.active a {
  color: #333;
  cursor: default;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}
