table {
  margin-top: 10px;
  font-size: 12px;
  white-space: nowrap;
}
table tr th {
  font-weight: bold;
  background: #337ab7;
  color: #fff;
}
table colgroup > col.vzebra-even {
  background: #EFF2FF;
}
table colgroup > col.vzebra-odd {
  background: #E3E8FF;
}
.table-concise {
  margin-bottom: 20px;
  width: 100%;
  line-height: 27px;
  border: 1px solid #ddd;
}
.table-concise > thead > tr > th,
.table-concise > tbody > tr > th,
.table-concise > thead > tr > td,
.table-concise > tbody > tr > td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 4px;
}
.table-concise > thead > tr th,
.table-concise > tbody > tr th {
  background: transparent;
  color: #333;
  vertical-align: bottom;
}
