table {
  margin-top: 10px;
  font-size: 12px;
  white-space: nowrap;
}
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #e8e8e8;
  background: #337ab7;
  color: #fff;
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
}
thead tr.th-collapsed {
  border-bottom: 1px solid #e8e8e8;
}
thead tr:first-child {
  border-bottom: 0px;
}
thead tr:last-child .th-collapsed {
  border-top: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table-custom {
  margin-bottom: 20px;
  width: 100%;
  line-height: 27px;
  border: 1px solid #ddd;
}
.table-custom thead > tr > th {
  background: transparent;
  color: #333;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 4px;
  vertical-align: bottom;
}
.table-custom tbody > tr > td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 4px;
}
