/*disable responsice*/
form.form-inline .form-group {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
}
form.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
form.form-inline .form-control-static {
  display: inline-block;
}
form.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
form.form-inline .input-group .input-group-addon,
form.form-inline .input-group .input-group-btn,
form.form-inline .input-group .form-control {
  width: auto;
}
form.form-inline .input-group > .form-control {
  width: 100%;
}
form.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
form.form-inline .radio,
form.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
form.form-inline .radio label,
form.form-inline .checkbox label {
  padding-left: 0;
}
form.form-inline .radio input[type="radio"],
form.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
form.form-inline .has-feedback .form-control-feedback {
  top: 0;
}
/* variables */
/* Base */
.doc-body {
  overflow-y: auto;
  background-color: #2f4050;
}
#wrapper {
  width: 100%;
  overflow-x: hidden;
}
#doc-bd {
  position: absolute;
  left: 190px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f3f3f3;
  min-height: 100%;
  min-width: 1090px;
  overflow: auto;
}
#doc-toolbar {
  color: #888888;
  padding: 0 20px;
  line-height: 60px;
}
#doc-toolbar .logout {
  text-decoration: underline;
  padding: 0 8px;
  font-weight: bold;
}
#doc-main {
  top: 60px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  min-width: 1090px;
  overflow: auto;
  z-index: 1;
}
.title-base label {
  margin: 0 6px;
}
.title-base small {
  font-size: 12px;
  font-style: inherit;
  padding: 4px 4px;
}
.title-icon {
  display: inline-block;
  background: #19aa8d;
  border-radius: 4px;
  width: 4px;
  height: 20px;
  vertical-align: -4px;
}
.title-name {
  font-size: 20px;
  display: inline-block;
  line-height: 30px;
}
.title-name a {
  background: #00785b;
  color: #333333;
  border-radius: 15px;
  padding: 4px 10px;
}
.title-name a:hover {
  color: #3d3d3d;
  text-decoration: none;
}
.title-name a h4,
.title-name a h5 {
  margin: 0;
}
.title-name .more {
  color: #ffffff;
}
.doc-row {
  margin-bottom: 10px;
}
.page .pagination {
  margin: 0;
}
.tab-container {
  background: #ffffff;
  padding: 15px;
  margin-top: -1px;
  border: 1px solid #dddddd;
}
.doc-row hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.form-inline .col-lg-3 {
  min-width: 320px;
}
.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  left: 5px;
  top: 2px;
  color: #19aa8d;
}
.input-search {
  border: 1px solid #a7b1c2;
  height: 32px;
  padding: 2px 0 2px 20px;
  border-radius: 4px;
}
.form-group button.btn-fail {
  cursor: default;
}
.select2-container {
  position: relative;
  zoom: 1;
  vertical-align: middle;
}
.select2-container .select2-choice {
  display: block;
  height: 30px;
  padding: 2px 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #ffffff;
}
.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.select2-container .select2-choice abbr {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 26px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('../img/select.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 1px;
  outline: none;
  background: url('../img/select.png') right top no-repeat;
}
.select2-container .select2-choice div {
  display: block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}
.select2-container .select2-choice div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/select.png') no-repeat 0 3px;
}
.select2-search {
  display: inline-block;
  width: 100%;
  padding: 0 4px;
  position: relative;
  z-index: 9992;
  white-space: nowrap;
  margin-top: 4px;
}
.select2-search input {
  width: 100%;
  padding: 2px 20px 2px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #e5e5e5;
  background: url('../img/select.png') no-repeat 100% -22px;
  color: #333333;
}
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
}
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}
.select2-results li:hover {
  background: #ddd;
}
.select2-drop {
  width: 100%;
  margin-top: -3px;
  position: absolute;
  z-index: 9992;
  top: 100%;
  background: #ffffff;
  color: #000;
  border: 1px solid #ddd;
  border-top: 0;
}
.select2-drop.select2-drop-above {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.select2-drop.select2-drop-active {
  border: 1px solid #ddd;
  border-top: 0;
}
#doc-aside {
  width: 190px;
  min-width: 100px;
  background-color: #2f4050;
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 2;
  transition: all 0.5s ease-in;
}
#doc-aside .aside-menu {
  padding: 0;
  margin-top: 20px;
}
#doc-aside .aside-menu li {
  list-style: none;
}
#doc-aside .aside-menu li a {
  display: block;
  font-size: 12px;
  color: #a7b1c2;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
}
#doc-aside .aside-menu li a:hover {
  background-color: #293846;
  color: white;
}
#doc-aside .aside-menu li a .fa {
  width: 12px;
  line-height: 44px;
  right: 0;
  margin-right: 10px;
}
#doc-aside .aside-menu li.active {
  color: white;
  border-left: 4px solid #19aa8d;
  background: #293846;
}
#doc-aside .aside-menu li.active a {
  color: white;
}
#doc-aside .aside-menu li.active a:hover {
  background-color: #293846;
  color: white;
}
#doc-aside .aside-menu li .nav-second-level li {
  border: none;
}
#doc-aside .aside-menu li .nav-second-level li i.fa {
  line-height: 14px;
  color: white;
}
#doc-aside .aside-menu li .nav-second-level li .nav-third-level li a {
  color: #a7b1c2;
  padding-left: 70px;
}
#doc-aside .aside-menu li .nav-second-level li .nav-third-level li a:hover {
  color: white;
}
#doc-aside .aside-menu li .nav-second-level li.active a {
  color: white;
}
#doc-aside .aside-menu li .nav-second-level li a {
  color: #a7b1c2;
  padding-left: 50px;
}
#doc-aside .aside-menu li .nav-second-level li a:hover {
  background: none;
  color: white;
}
#doc-aside .aside-menu li .nav-second-level li:last-child {
  border-bottom: 0;
}
.nav-second-level li a.active {
  color: #02e4a2;
}
#doc-aside .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#doc-aside .nav > li {
  position: relative;
  display: block;
}
#doc-aside .nav > li > a {
  position: relative;
  display: block;
}
#doc-aside .nav > li > a:hover,
#doc-aside .nav > li > a:focus {
  background-color: #293846;
}
.logo {
  color: #a7b1c2;
}
.asidebar nav {
  width: 80px;
  background: #2f4050;
  text-align: center;
  border-radius: 0;
}
.asidebar nav .mini-asidebar {
  padding: 0;
}
.asidebar nav ul li {
  list-style: none;
  position: relative;
  background: #2f4050;
  border-bottom: 1px solid #3e556a;
}
.asidebar nav ul li:hover {
  background: #1d2a36;
}
.asidebar nav ul li.active {
  background: #1d2a36;
}
.asidebar nav ul li.active a {
  color: white;
}
.asidebar nav ul li:last-child {
  border: 0;
}
.asidebar nav ul li a {
  font-size: 12px;
  display: block;
  padding: 16px 0;
  border-top: 1px solid #1d2a36;
  color: #a7b1c2;
}
.asidebar nav ul li a:hover {
  text-decoration: none;
  color: white;
}
.asidebar nav ul li a i {
  display: block;
  margin: 4px 0;
}
.asidebar nav ul li.active ul.nav-second-level {
  position: absolute;
  background: #2f4050;
  width: 100px;
  left: 80px;
  top: 0;
  padding: 0;
  transition: all 0.5s ease-in;
}
.asidebar nav ul li.active ul.nav-second-level li a {
  padding: 10px 0;
  font-size: 12px;
}
.sidebar .navbar-inverse {
  background: #2f4050;
}
/*list-box ARK index UI*/
.list-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  height: 170px;
}
.list-box a img {
  display: block;
  margin: 0 auto;
}
.list-button {
  display: table;
  width: 100%;
  text-align: center;
}
.list-button a {
  display: table-cell;
  vertical-align: middle;
}
.list-title {
  padding: 10px;
  border-top: 3px solid #337ab7;
}
.list-title a:link {
  color: #333333;
}
table {
  margin-top: 10px;
  font-size: 14px;
  white-space: nowrap;
}
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #e8e8e8;
  background: #337ab7;
  color: #ffffff;
}
table th,
table td {
  vertical-align: middle;
  text-align: center;
}
thead tr.th-collapsed {
  border-bottom: 1px solid #e8e8e8;
}
thead tr:first-child {
  border-bottom: 0px;
}
thead tr:first-child {
  border-bottom: 0px;
}
thead tr:last-child .th-collapsed {
  border-top: 0px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.nav-tabs.nav-justified > li {
  display: inline-block;
  width: 16.66666667%;
  border-radius: 4px 4px 0px 0px;
}
.nav-tabs.nav-justified > li a,
.nav-tabs.nav-justified > li a:hover,
.nav-tabs.nav-justified > li a:focus {
  outline: 0px;
  border: 0px solid transparent;
}
.nav-tabs.nav-justified > li.active a,
.nav-tabs.nav-justified > li.active a:hover,
.nav-tabs.nav-justified > li.active a:focus {
  border: 0px solid transparent;
  background-image: linear-gradient(180deg, #b1daff, #ffffff);
}
.nav-tabs.nav-justified > li h4 {
  margin-bottom: 10px;
}
.table-area {
  margin: 10px;
}
.table-th-non > thead > tr > th {
  background: none;
  color: #333333;
}
.custom-table {
  margin-bottom: 20px;
  width: 100%;
  font-size: 12px;
  line-height: 27px;
  border: 1px solid #ddd;
}
.custom-table > thead > tr > th,
.custom-table > tbody > tr > td {
  border-right: 1px solid #ddd;
  padding: 0 4px;
}
.custom-table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
}
.custom-table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
#doc-bd .breadcrumb {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: 20px;
  padding: 8px 20px;
}
#doc-bd .breadcrumb ul {
  padding: 0;
}
#doc-bd .breadcrumb form.form-inline .form-group {
  margin-bottom: 0;
}
#doc-bd .breadcrumb .breadcrumb-nav {
  margin-bottom: 0;
}
#doc-bd .breadcrumb .breadcrumb-nav li {
  display: inline-block;
}
#doc-bd .breadcrumb .breadcrumb-nav > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}
.fa-arrow-down {
  color: #45e4c4;
}
.fa-arrow-up {
  color: #eb0000;
}
.fa-arrow-right {
  color: #a7b1c2;
}
/* arrow color*/
.alert {
  position: relative;
  z-index: 2;
}
.alert-arrow {
  width: 16px;
  height: 10px;
  left: 32px;
  top: -7px;
  position: absolute;
}
.alert .alert-arrow span {
  color: #fcf8e3;
  border-color: #faebcc;
  z-index: -1;
}
/*modal*/
.modal-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.modal-scroll form button {
  margin-bottom: 4px;
}
.modal-translate-center {
  position: fixed;
  z-index: 1050;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tabbable-custom .nav-tabs > li {
  width: 200px;
  text-align: center;
}
.tabbable-custom .nav-tabs > li > a:hover {
  border: none;
  background: none;
}
.tabbable-custom .nav-tabs > li.active {
  position: relative;
}
.red .nav-tabs > li.active {
  border-top: 3px solid #d12610;
}
.cyan .nav-tabs > li.active {
  border-top: 3px solid #19aa8d;
}
.tabbable-custom .nav-tabs > li.active > a {
  border-top: none;
}
.tabbable-custom .nav-tabs > li > a {
  border-radius: 2px;
  margin-right: 0;
}
.tabbable-custom .tab-container {
  margin-top: -2px;
}
.tabbable-custom .nav-tabs > li.active > a,
.tabbable-custom .nav-tabs > li.active > a:hover,
.tabbable-custom .nav-tabs > li.active > a:focus {
  color: #333333;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  border-bottom-color: transparent;
}
