// Header
// -------------------------
#header{
  position: absolute;
  width: 100%;
  height: @header-height;
  background-color: @header-bg;
  color: @header-color;
}

// Main
// -------------------------
#main{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 190px;
  right: 0;
  overflow-y: auto;
  background-color: @main-bg;
}

// Content
// -------------------------
.content{
  padding: 20px;
}
