// breadcrumb
.breadcrumb{
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #ddd;
  margin-bottom:20px;
  padding: 8px 20px;
  ul{
    padding: 0;
  }
  form.form-inline .form-group{
    margin-bottom: 0;
  }
  .breadcrumb-nav{
    margin-bottom: 0;
  }
  .breadcrumb-nav li{
    display: inline-block;
  }
  .breadcrumb-nav>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/";
  }
}