@import "variables";
/*list-box ARK index UI*/
.list-box {
  background-color:@base-bg;
  border: 1px solid @gray-lighter;
  border-radius: @border-radius-base;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  height: 170px;
  a img{
    display: block;
    margin: 0 auto;
  }
}
.list-button{
  display: table;
  width: 100%;
  a{
    display:table-cell;
    vertical-align: middle;
  }
  text-align: center;
}
.list-title{
  padding: @padding-base-computed;
  border-top:3px solid @table-th-bg;
  a:link{
    color: @font-color-base;
  }
}


.summary-info {
  color: @font-color;
}
.green-bg{
  background-color:@cyan-base;
}
.yellow-bg{
  background-color: #f8ac59;
}
.red-bg{
  background-color: #ed5565;
}
.widget {
  border-radius:@border-radius-base;
  padding:@padding-base-computed @padding-base-computed*2;
  padding-bottom: 0;
  margin:@margin-base-computed 0;
}