@import "variables";
/*list-box ARK index UI*/
.list-box {
  background-color:@base-bg;
  border: 1px solid @gray-lighter;
  border-radius: @border-radius-base;
  height: 170px;
  margin-bottom: 20px;
  img.applogo{
    width: 100px;
    height: 100px;
    margin-left: 37%;
  }
}
.list-button{
  a{
    display: inline-block;
    padding: 20% 43%;
  }
  text-align: center;
}
.list-title{
  padding: @padding-base-computed;
  border-top:3px solid @table-th-bg;
  a:link{
    color: @font-color-base;
  }
}
