@import "variables";


// doc-aside =================
#doc-aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: @doc-aside-width;
  min-height: 100%;
  background-color: @blue-base;
  text-align: center;
  z-index: 2;
  transition: all 0.5s ease-in;
  .aside-menu{
    padding: 0;
    margin-top: @margin-base-computed*2;
  }
  .aside-menu li {
    list-style: none;
    a {
      display: block;
      font-size: @font-size-small;
      color: @gray-base;
      text-decoration: none;
      text-align: left;
      padding-left:@padding-base-computed*2;
      &:hover{
        background-color:@blue-dark;
        color: white;
      }
      .fa{
        width: 12px;
        line-height: 44px;
        right: 0;
        margin-right: @margin-base-computed;
      }
    }
    &.active {
      color:white;
      border-left: 4px solid @cyan-base;
      background: @blue-dark;
    }
    &.active a {
      color:white;
      &:hover {
        background-color:@blue-dark;
        color: white;
      }
    }
    .nav-second-level li{
      border: none;
      i.fa{
        line-height: 14px;
        color: white;
      }
      .nav-third-level li a{

        color: @gray-base;
        padding-left:70px;
        &:hover {
          color: white;
        }
      }
    }

    .nav-second-level li.active a{
      color:white;
    }
    .nav-second-level li a{
      color: @gray-base;
      padding-left: 50px;
      &:hover {
        background: none;
        color:white;
      }
    }
    .nav-second-level li:last-child{
      border-bottom: 0;
    }
  }
}

.nav-second-level li a.active{
  color: #02e4a2;
}

#doc-aside .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  &:extend(.clearfix all);

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      &:hover,
      &:focus {
        background-color:@blue-dark;
      }
    }
  }
}

.logo{
  color:@gray-base;
}

// sidebar style 
.asidebar nav{
 width: 80px;
 background: @blue-base;
 text-align: center;
 border-radius: 0;
 .mini-asidebar{
  padding: 0;
}
}
.asidebar nav ul li{
  list-style:none;
  position: relative;
  background: @blue-base;
  border-bottom: 1px solid #3e556a;
  &:hover{
    background: #1d2a36;
  }
}
.asidebar nav ul li.active{
  background: #1d2a36;
  a{
    color:white;
  }
}
.asidebar nav ul li:last-child{
  border:0;
}
.asidebar nav ul li a{
  font-size: 12px;
  display: block;
  padding: 16px 0;
  border-top: 1px solid #1d2a36;
  &:hover{
    text-decoration: none;
    color: white;
  }
  color: @gray-base;
  i{
    display:block;
    margin: @margin-base-vertical  0;
  }
}
.asidebar nav ul li.active{
 ul.nav-second-level{
  position: absolute;
  background:@blue-base;
  width: 100px;
  left: 80px;
  top: 0;
  padding: 0;
  transition: all 0.5s ease-in;
  li a{
    padding:10px 0;
    font-size: 12px;
  }
}
}
.sidebar .navbar-inverse{
  background:@blue-base;
}
