@import "variables";

// doc-aside =================
.logo{
  color:@gray-base;
  text-align: center;
}
.aside-menu {
  padding: 0;
  margin-top: @margin-base-computed*2;
}

/*default*/
.aside-menu li > a {
  display: block;
  font-size: @font-size-small;
  color: @gray-base;
  text-decoration: none;
  text-align: left;
  padding: 10px 15px;
  &:hover , &:focus {
    color:white;
    background-color: none;
  }
}

.aside-menu > li > a > i{
  display: inline-block;
  width: 12px;
  margin-right:8px;
}

.aside-menu > li {
  &.unfold {
    border-left: 4px solid @cyan-base;
    background: @blue-dark;
  }
}

.aside-menu li{
  list-style:none;
  &.unfold > a{
    background:@blue-dark;
    color:white;
  }

  &.unfold > .nav {
    display: block;
    padding-left:18px;
  }
}

.aside-menu li > .nav {
  display: none;
}

.aside-menu li > .nav > li > a{
  &:hover , &:focus {
      color:white;
      background-color: transparent;
    }
}

