
// Table ==============================
table {
  margin-top:10px;
  font-size: 12px;
  white-space: nowrap;
   tr{
     th{
      font-weight: bold;
      background: #337ab7;
      color: #fff;
    }
     td span.label{
       margin: 0 4px;
    }
  }
  colgroup > col{
    &.vzebra-even{
      background:#EFF2FF;
    }
    &.vzebra-odd{
      background:#E3E8FF;
    }
  }
}

// table-concise 定制紧凑行的表格===========================
.table-concise{
  margin-bottom:20px;
  width: 100%;
  line-height: 27px;
  border: 1px solid #ddd;
  > thead,
  > tbody{
    > tr{
      > th,
      > td{
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 0 4px;
      }
    th{
      background:transparent;
      color: #333;
      vertical-align: bottom;
     } 
    }
  }
}