<<<<<<< HEAD

// ui-btn variants
// ------------------------------------------------------

.ui-btn-variant(@background; @border; @boxshadow) {
  background-image: @background;
  border-color: @border;
  box-shadow: @boxshadow;
=======

// ui-btn variants
// ------------------------------------------------------

.ui-btn-variant(@background; @border; @boxshadow) {
  background-image: @background;
  border-color: @border;
  box-shadow: @boxshadow;
>>>>>>> 6aff63b9367ce1e5b9ac06ec91fd07abecfd36a3
}